@model IEnumerable<CarSales.Entities.Sales>

@{
    ViewData["Title"] = "Sales";
}

<h1>Sales</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.BodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Adress)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
